body {
    background-image: url(img/background.webp);
    background-size: cover;
}
.navbar {
    padding: 5px 0; /* Reduz o espaçamento interno */
    min-height: 5px; /* Define uma altura mínima menor */
}
